@import url(reset.css);

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
}

.homeworks-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.homeworks-item a {
    text-decoration: none;
    display: block;
    border: 2px solid black;
    color: #103d43;
    border-radius: 30px;
    padding: 10px;
    white-space: nowrap;
}

.homeworks-item a:hover {
    color: white;
    background: #103d43;
}

.home a {
    color: #103d43;
    background: #ffd07a;
}

.table {
    width: 500px;
    margin: 0 auto;
}

table, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    width: 50px;
    height: 50px;
}

.textBlock {
    font-size: 30px;
    color: black;
    padding: 20px;
}

.textBlockToggled {
    color: red;
}

#changeColorButton {
    margin: 0 auto;
    width: 100px;
    height: 40px;
    background-color: lightblue;
    border: black 2px solid;
    cursor: pointer;
}

#changeColorButton:active {
    transform: scale(1.1);
}

.randomImage {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.button {
    margin: 10px auto;
    width: 100px;
    height: 40px;
    background-color: lightblue;
    border: black 2px solid;
    cursor: pointer;
}

.button:active {
    transform: scale(0.8);
}

.form-box {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #dccbcb;
    border-radius: 30px;
}

.form-contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.form-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 14px;
}

.form-subtitle {
    font-size: 20px;
    text-align: center;
    margin: 14px 0;
}

.form-input input, .form-input textarea, .task-list li {
    padding: 15px 0 15px 20px;
    width: 100%;
    background: rgb(253, 247, 247);
    border-radius: 30px;
    border: none;
    outline: none;
}

.form-input textarea {
    overflow: hidden;
    max-width: 360px;
    min-width: 360px;
    min-height: 60px;
}

.submit-button {
    text-align: center;
    padding: 15px;
    width: 100%;
    background: rgb(54, 129, 183);
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

.submit-button:active {
    transform: scale(0.8);
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.margin-b-10 {
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 18px;
}

.task-list {
    list-style-type: none;
}

.task-list li {
    cursor: pointer;
    border: 1px solid #ccc;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.task-list button {
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid black;
    padding: 5px 10px;
}

.task-list button:active {
    transform: scale(0.9);
    transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

/*SLIDER*/

.img {
    width: 100%;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(1, 29, 17, 0.98);
    background-color: rgba(255, 255, 255, 0.37);
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 15px 15px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 15px 0 0 15px;
}

.dots {
    text-align: center;
    padding: 10px 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot {
    background-color: #717171;
}